@charset 'utf-8';


@font-face { 
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; }

.kor{
    font-family: 'paybooc-Bold';
    font-weight: bold;
}
.button-bottom:hover{
    color: white;
    background-color: #9681ef;
}